body {
    margin: 0;
    padding: 0;
}


a {
    text-decoration: none;
    color: #1B1C21
}

.wrapper {
    position: relative;
    background-color: white;
    max-width: 320px;
    height: 960px;
    margin-left: 0;
    box-shadow: 16px 0px 30px -25px #0E1850;
}

.aside {
    display: flex;
    max-width:320px;
    height: 90px;
    margin: 0;
    margin-right: auto;
    padding: 0;
    flex-wrap: nowrap;
    align-items: center;
}

.aside__left{
  margin-right:auto;
  margin-left: 20px;
}

.aside__logo {
   margin-left:20px;
}

.aside__right {
  margin-right:20px;
}

.manu__btn {
    display: block;
    height: 50px;
    font-family: 'TT Lakes';
    margin:0px;
    margin-left:25px;
    padding: 0px;
    font-size: 16px;
    Line-height:24px;
    font-weight: bold;
    color: #1B1C21;
    text-decoration: none;
    background-color: white;
    border: none;
}

.manu__btn--active {
    border-left: 4px solid #41F6D7;
    margin-left: 0;
    padding-left:20px;
    color: #7E7E82;
}

.contacts {
    position: absolute;
    bottom: 0;
}

.contacts__icon {
    display: flex;
    width: 200px;
    padding: 0;
}

.manu__btn--margin {
    margin:0px;
    margin-left: 20px;
}

.contacts__mail {
    font-family: 'TT Lakes';
    font-size: 16px;
    margin-left: 20px;
    margin-top: -5px;
    color: #1B1C21;
}

.contacts__phone {
    font-family: 'TT Lakes Condensed';
    font-size: 24px;
    font-weight: bold;
    margin-left: 20px;
    margin-top:-15px;
    color: #1B1C21;
}

.contacts__lang {
    font-family: 'TT Lakes';
    font-size: 16px;
    color: #1B1C21;
    padding-bottom: 10px;
}

.contacts__lang_el--active {
    color:#7E7E82;
}

.manu__btn:hover {
   opacity: 0.5;
   cursor: pointer;
}



