body {
    margin: 0;
    padding: 0;
}

aside {
    position: relative;
    background-color: white;
    max-width: 320px;
    height: 980px;
    margin-left: 0;
    box-shadow: 16px 0px 30px -25px #0E1850;
}


a {
    text-decoration: none;
    color: #1B1C21;
}

address {
    font-style: normal;
    text-decoration: none;
    font-variant-numeric:normal
}



.aside {
    display: flex;
    max-width:320px;
    height: 90px;
    margin: 0;
    margin-bottom: 20px;
    margin-right: auto;
    padding: 0;
    flex-wrap: nowrap;
    align-items: center;
}


.aside__logo {
   margin-left:10px;
}

.aside__right {
  margin-left:auto;
  margin-right:20px;
}

.aside-contacts__btn,
.aside__btn {
    display: block;
    height: 50px;
    font-family: 'TT Lakes';
    margin:0px;
    margin-left:25px;
    padding: 0px;
    font-size: 16px;
    Line-height:24px;
    font-weight: bold;
    color: #1B1C21;
}

.aside__left{
    margin-right:10px;
}

.aside-menu {
    font-weight:500;
}
  

.aside-menu__link {
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left:25px;
    font-weight: bold;
    color: #1B1C21; 
}

.aside-contacts__btn,
.aside__btn {
    background-color: white;
    border:none;
}





.aside-menu__link--active {
    border-left: 4px solid #41F6D7;
    margin-left: 0;
    padding-left:20px;
    color: #7E7E82;
}

.aside-contacts {
    position: absolute;
    bottom: 15px;
}

.aside-contacts__icon {
    display: flex;
    width: 200px;
    padding: 0;
}

.aside-contacts__btn--margin {
    margin:0px;
    margin-left: 20px;
}

.aside-contacts__mail {
    font-family: 'TT Lakes';
    font-size: 16px;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 10px;
    color: #1B1C21;
}

.aside-contacts__phone {
    font-family: 'TTLakes';
    font-size: 24px;
    font-weight:500;
    margin-left: 20px;
    margin-top:15px;
    color: #1B1C21;
}

.aside-lang {
    font-family: 'TT Lakes';
    font-size: 16px;
    color: #1B1C21;
    margin-left: 20px;
    margin-top:40px
}

.aside-contacts__btn:hover,
.aside__btn:hover {
    cursor: pointer;
    opacity: 0.5;
    transition-duration:0.5s;

}

.aside-menu__link--fitler:hover {
    color:#0E1850;
    transition-duration:0.5s;
}

.aside-lang__el {
   text-decoration: none;
   background-color: white;
   border:none;
   font-family: 'TT Lakes';
   font-size: 16px;
   font-weight: bold;
   color: #1B1C21;
   margin: 0;
   padding: 0;
   cursor: pointer;
}

.aside-lang__el--active {
    color:#7E7E82;
}

.aside-lang__el:first-child {
    margin-top:5x
}






