@font-face {
  font-family: 'TT Lakes';
  src: url('../fonts/TTLakes/TTLakes-Regular.eot');
  src: local('TT Lakes Regular'), local('TTLakes-Regular'),
      url('../fonts/TTLakes/TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/TTLakes/TTLakes-Regular.woff') format('woff'),
      url('../fonts/TTLakes/TTLakes-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes Condensed';
  src: url('../fonts/TT Lakes Condensed//TTLakesCondensed-Medium.eot');
  src: local('TT Lakes Condensed Medium'), local('TTLakesCondensed-Medium'),
      url('../fonts/TT Lakes Condensed/TTLakesCondensed-Medium.eot?#iefix') format('embedded-opentype'),
      url('../fonts/TT Lakes Condensed/TTLakesCondensed-Medium.woff') format('woff'),
      url('../fonts/TT Lakes Condensed/TTLakesCondensed-Medium.ttf') format('truetype');
  font-weight:-900;
  font-style: normal;
}

@font-face {
  font-family: 'TTLakesCondensedB';
  src: url('../fonts/TTLakesCondensendBL/TTLakesCondensed-Black.eot');
  src: local('TT Lakes Condensed Black'), local('TTLakesCondensed-Black'),
      url('../fonts/TTLakesCondensendB/TTLakesCondensed-Black.eot?#iefix') format('embedded-opentype'),
      url('../fonts/TTLakesCondensendB/TTLakesCondensed-Black.woff') format('woff'),
      url('../fonts/TT/TTLakesCondensed-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}


@font-face {
  font-family: 'TTLakes';
  src: url('../fonts/TTLakesBlack/TTLakes-Bold.eot');
  src: local('TT Lakes Bold'), local('TTLakes-Bold'),
      url('../fonts/TTLakesBlack/TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/TTLakesBlack/TTLakes-Bold.woff') format('woff'),
      url('../fonts/TTLakesBlack/TTLakes-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}


body {
  font-family: 'TT Lakes';
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
}


main {
  background-color: #7E7E82;
}

section {
  margin: 0;
  padding: 0;
}
